{% extends 'base.html' %}
{% load humanize %}
{% load thumbnail %}
{% load wishlist_extras %}

{% block content %}
    <div class="main-content-wrapper">
        <div class="page-content-inner ptb--80 ptb-md--60">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-content table-responsive">
                            <table class="table table-style-2 wishlist-table text-center">
                                <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th class="text-left">Товар</th>
                                    <th>Наличие</th>
                                    <th>Цена</th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in user_wishlist %}
                                    <tr>
                                        <td class="product-remove text-left"><a href=""><i
                                                class="flaticon-cross"></i></a></td>
                                        <td class="product-thumbnail text-left">
                                            {% thumbnail item.product.image '140x176' crop='center' as im %}
                                                <img src="{{ im.url }}"
                                                     alt="Product Thumnail">
                                            {% endthumbnail %}
                                        </td>
                                        <td class="product-name text-left wide-column">
                                            <h3>
                                                <a href="product-details.html">{{ item.product.get_full_name }}</a>
                                            </h3>
                                        </td>

                                        {% with color_amount=item.product.quantity|color_stock %}
                                            <td class="product-stock" style="color: {{ color_amount.0 }}">
                                                {{ color_amount.1 }}
                                            </td>
                                        {% endwith %}

                                        <td class="product-price">
                                            {% if item.product.discount %}
                                                <s class="product-price-old" style="font-size: 85%">
                                                    {{ item.product.real_price }}
                                                </s>
                                                <br>
                                                <strong class="money">
                                                    {{ item.product.price|intcomma }}
                                                </strong>
                                                <span class="sign">₽</span>
                                            {% else %}
                                                <span class="money">{{ item.product.price|intcomma }}</span>
                                                <span class="sign">₽</span>
                                            {% endif %}
                                        </td>
                                        <td class="product-action-btn">
                                            <a href="cart.html" class="btn">Add to cart</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}